
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />

<div class="card mb-3">
    <img src="https://imgix.lifehacker.com.au/content/uploads/sites/4/2017/07/microphone.jpg?ar=16%3A9&fit=crop&q=80&w=1280" class="card-img-top" alt="...">
    <div class="card-body">
        <h1 class="card-title">ProgPodcasts</h1>
        <h5 class="card-text" style="line-height: 1.6;">
            Nam eu nisi quis leo fermentum pharetra et eu quam.
            Aliquam consectetur nisi quis congue congue.
            Donec at purus et erat ornare pellentesque.
            Maecenas accumsan vitae ipsum in vulputate.
            Curabitur nibh tellus, viverra nec tristique at,
            pellentesque in nibh. Maecenas ac porttitor eros,
            quis bibendum ante. Sed sed gravida arcu.
            Aliquam scelerisque, ante auctor fringilla sodales,
            magna dolor dignissim libero, quis aliquet mi nibh eget ligula.
            Donec non dictum nibh, non tempor lorem. Integer bibendum sapien
            consequat est auctor, quis venenatis erat viverra.
        </h5>
        <br/>
        <h5 style="line-height: 1.6;">
            Pellentesque urna ligula, luctus et augue non, aliquet pretium tortor.
            Praesent fringilla eros ex, ut porta orci dictum at. Nunc vehicula,
            ex id consectetur sodales, quam dolor finibus velit, nec facilisis
            nunc enim id nisi. Pellentesque congue dolor eu ante rutrum sodales.
            Morbi tempus sapien quis bibendum fringilla. Duis non nibh sem. Integer
            eros mi, maximus non euismod quis, rutrum sed leo. Donec egestas lorem
            a eros lacinia imperdiet. Vestibulum purus orci, blandit cursus tristique
            sit amet, pulvinar sed nisl. Praesent fringilla leo eget mattis auctor.
        </h5>

        <p class="card-text" style="text-align:center"><small class="text-muted">by sunnydarkko</small></p>
    </div>
</div>


